body {
    background-color: #f6f6f6;
}

#main {
    padding-top: 20px;
}

#main .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

#main .row:nth-child(2) {
    margin-top: 35px;
    border-bottom: 2px solid #f6f6f6;
}

#main .row .icon {
    width: 85px;
    height: 85px;
    background-color: #eaf2ff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .row .icon img {
    height: 55px;
}

#main .row .text {
    width: 70%;
}

#main .row .text div {
    font-size: 30px;
}

#main .row .text p.red.big {
    font-size: 22px;
    color: #fe3e3d;
}

#main .row .text p.small {
    font-size: 14px;
}

#main .row .text p {
    font-size: 18px;
    color: #999;
}

#main .row .btn {
    padding: 5px 10px;
    border: 1px solid #3586ff;
    color: #3586ff;
    font-size: 22px;
}

#main .row .btn.red {
    border: 1px solid #fe3e3d;
    color: #fe3e3d;
}

@media(max-width:800px) {
    #main .row div {
        font-size: 28px;
    }
    #main .row .text div {
        font-size: 20px;
    }
    #main .row .text p.red.big {
        font-size: 22px;
    }
}

@media(max-width:500px) {
    #main {
        padding-top: 10px;
    }
    #main .row:nth-child(2) {
        margin-top: 17px;
    }
    #main .row .text div {
        font-size: 18px;
    }
    #main .row .text p.red.big,
    #main .row .btn {
        font-size: 16px;
    }
    #main .row p,
    #main .row .text p {
        font-size: 14px;
    }
    #main .row .text {
        width: 60%;
    }
    #main .row .text p.small {
        font-size: 12px;
    }
    #main .row .icon {
        width: 42.5px;
        height: 42.5px;
    }
    #main .row .icon img {
        height: 27.5px;
    }
    #main .row .btn {
        padding: 5px 8px;
    }
}

@media(max-width:414px) {
    #main .row .btn {
        padding: 5px;
    }
    #main .row .text div {
        font-size: 16px;
    }
    #main .row .text p.red.big,
    #main .row .btn {
        font-size: 14px;
    }
    #main .row p,
    #main .row .text p {
        font-size: 12px;
    }
    #main .row .text p.small {
        font-size: 9px;
    }
}