 .header .top a.back {
        color: #999;
    }
    
    #main {
        padding-top: 20px;
    }
    
    #main .title {
        font-size: 24px;
        color: #999;
    }
    
    #main .person {
        border-bottom: 1px solid #e2e2e2;
    }
    
    #main .person .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 42px auto;
    }
    
    .pen {
        width: 30px;
        height: 30px;
    }
    
    #main .person .flex p,
    #main .person>p {
        font-size: 22px;
    }
    
    #main .person>p {
        margin-bottom: 20px;
    }
    
    #main .idClass {
        margin: 60px auto 30px;
        border: 1px solid #999;
        position: relative;
    }
    
    #main .idClass div {
        position: absolute;
        top: -15px;
        left: 20px;
        background-color: #fff;
        padding: 5px 10px;
        height: 85px;
        font-size: 22px;
    }
    
    #main .idClass p {
        line-height: 85px;
        font-size: 26px;
        padding-left: 10px;
    }
    
    img.id {
        display: block;
        height: 425px;
        margin: 0 auto;
    }
    
    .upload {
        margin: 25px auto 80px;
        background-color: #f4f7fe;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px dashed #5a84ac;
    }
    
    .upload img {
        width: 50px;
    }
    
    .upload p {
        font-size: 26px;
        margin-top: 10px;
        color: #4377ff;
    }
    
    .btn {
        height: 90px;
        line-height: 90px;
        color: #fff;
        background-color: #4377ff;
        text-align: center;
        font-size: 30px;
    }
    
    @media(max-width:750px) {
        img.id {
            height: 350px;
        }
        #main .idClass {
            margin: 40px auto 20px;
        }
        .upload {
            margin: 25px auto 60px;
            height: 100px;
        }
        #main .idClass p {
            height: 70px;
        }
        .btn {
            height: 70px;
            line-height: 70px;
            font-size: 20px;
        }
    }
    
    @media(max-width:650px) {
        img.id {
            height: 300px;
        }
    }
    
    @media(max-width:565px) {
        #main {
            padding: 0 20px;
        }
        img.id {
            height: 250px;
        }
        #main .person .flex {
            margin: 21px auto;
        }
        #main .person>p {
            margin-bottom: 10px;
        }
        #main .idClass {
            margin: 30px auto 15px;
        }
        .upload {
            margin: 20px auto 40px;
            height: 80px;
        }
        #main .idClass p {
            height: 50px;
        }
        .btn {
            height: 45px;
            line-height: 45px;
        }
        #main .title,
        #main .idClass p,
        .upload p,
        .btn {
            font-size: 20px;
        }
        #main .person .flex p,
        #main .person>p,
        #main .idClass div {
            font-size: 18px;
        }
        #main .idClass p,
        #main .idClass div {
            height: 43px;
            line-height: 43px;
        }
        #main .idClass div {
            top: -26px;
        }
        .pen {
            width: 24px;
            height: 24px;
        }
        .upload img {
            width: 24px;
        }
    }
    
    @media(max-width:470px) {
        img.id {
            height: 213px;
        }
        .upload {
            margin: 12px auto 40px;
        }
        #main {
            padding: 10px 15px;
        }
        #main .title,
        #main .idClass p,
        .upload p,
        .btn {
            font-size: 16px;
        }
        .pen {
            height: 16px;
            width: 16px;
        }
        #main .person .flex p,
        #main .person>p,
        #main .idClass div {
            font-size: 14px;
        }
    }
    
    @media(max-width:375px) {
        img.id {
            width: 95%;
            height: auto;
        }
        #main .title,
        #main .idClass p,
        .upload p,
        .btn {
            font-size: 14px;
        }
        #main .person .flex p,
        #main .person>p,
        #main .idClass div {
            font-size: 12px;
        }
    }