body{position: relative;}
#main{max-width: 2000px;display: flex;justify-content: center;align-items: center;box-sizing:border-box;}
.content{width:600px;height:500px;margin:0 auto;}
.title{font-size:28px;color:#444;border-bottom: 4px solid #4180F2;width:112px;text-align: center;margin-bottom:40px;}
#country{width: 100px;}
.select2-container--default .select2-selection--single{border:none;}
.select2-container .select2-selection--single .select2-selection__rendered span{display: flex;justify-content: space-around;align-items: center;}
.select2-container .select2-selection--single .select2-selection__rendered span img,
.select2-results__option[aria-selected] span img{height:22px;object-fit: contain; }
.select2-container--default .select2-results__option--highlighted[aria-selected]{border:2px solid #3274d8;background-color: #fff;}
.select2-container--default .select2-results__option--highlighted[aria-selected] span{color:#5897fb;}
.select2-container--default .select2-search--dropdown .select2-search__field{display:none;}
.select2-container--default .select2-results__option[aria-selected=true]{background-color: #fff;}
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover{background-color: #fff;border:2px solid red;}
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover span{font-weight:600;color: red;}
input{border:none;width:450px;font-size:20px;}
input.big{width:100%;}
.comfirm{width:115px;color:#5897fb;font-size:20px; }
.comfirm:before{content:' | ';color: #888;}
.flex{border-bottom:1px solid #ddd;margin:40px auto;display: flex;justify-content: flex-start;align-items: center;}
.info{display: flex;justify-content:center;align-items: center;margin-top: 90px;}
.info p{font-size:20px;}
.info a{color:#5897fb;margin-left:10px;font-size:20px; }
.submit{display:block; width:100px;height:50px;margin:30px auto;background-color:#5897fb;color:#fff; }
.info.login{margin-top:-10px; }
.flex.forget{border-bottom:0;}
.flex.forget a{color:#5897fb;text-align: right;font-size:20px;display: inline-block;width:100%;}
@media(max-width:700px){
    .content{width: 500px;}
    input{width:370px;}
}
@media(max-width:550px){
    .content{width:400px;}
    input{width:270px;}
}
@media(max-width:450px){
    .content{width:300px;}
    input,.comfirm{width:200px;font-size:16px;}
    .info p,.info a,.flex.forget a{font-size:16px;}
}